<a href="https://colab.research.google.com/github/mssuhas/certification-and-online-coding/blob/master/Day_1_sesson_2_Exercises%E2%80%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A program to print the triangle

In [0]:
n = int(input("Enter The N Value:"))
c=1
for i in range(n):
  for j in range(i+1):
    print(c, end=' ')
    c+=1
  print("\n")
  c=c-i

Enter The N Value:5
1

2 3

3 4 5

4 5 6 7

5 6 7 8 9

In [0]:
n = int(input("Enter The Number:"))
for i in range(n):
  print("*"*(i+1))

Enter The Number:4
*
**
***
****

In [0]:
n = int(input("Enter The Number:"))
c=n
for i in range(n):
  c=c-i
  for j in range(i+1):
    print(c, end=" ")
    c+=1
  c-=1
  print("\n")

Enter The Number:5
5

4 5

3 4 5

2 3 4 5

1 2 3 4 5

In [0]:
n = int(input("Enter The Number:"))
for i in range(n):
  c=n-i
  for j in range(n-i):
    print(c, end=' ')
    c-=1
  print("\n")

Enter The Number:5
5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [0]:
n = int(input("Enter The Number:"))
for i in range(n):
  c=i+1
  for j in range(n-i):
    print(c, end=' ')
    c+=1
  print("\n")
for i in range(n-1):
  c=n-i-1
  for j in range(i+2):
    print(c, end=' ')
    c+=1
  print("\n")

Enter The Number:4
1 2 3 4

2 3 4

3 4

4

3 4

2 3 4

1 2 3 4

# The length of a string without using len functions

In [0]:
c = 0
for i in input("Enter The String: "):
    c += 1
print(f'The Length Of String Is: {c}')

Enter The String: alvas
The Length Of String Is: 5

# The no of words and characters in a string

In [0]:
s = input("Enter The String: ")
c = 0
for i in s:
    if i == " ":
        c += 1
print(f'The Number Of Words In A String Is: {c + 1} \nThe Number Of Characters In A String Is: {len(s)}')

Enter The String: Alvas mijar
The Number Of Words In A String Is: 2
The Number Of Characters In A String Is: 11

# The no of occurrences of a word in a string

In [0]:
def countOccurences(s, w):   
       
    return c        
s = input("Enter The Main String: ").lower()
w = input("Enter Comparision String: ")
a = s.split(" ") 
c = 0
for i in range(0, len(a)): 
  if (w == a[i]):
    c = c + 1    
print(c)

Enter The Main String: Alvas institute of engineering and technology alvas
Enter Comparision String: alvas
2